<div class="navbar-fixed">
    <nav class="light-blue accent-4" style="padding:0px 10px;">
        <div class="nav-wrapper">
            <a href="/api/tasks" ><img src="/static/img/logo.png" width="56" height="56" style="padding-top: 7px; padding-left: 7px;"/></a>
            <a href="#" class="sidenav-trigger" data-target="slide-out"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="waves-effect"><a href="/api/tasks">All tasks</a></li>
                <li class="waves-effect"><a href="/api/about">About</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="slide-out">
    <li class="waves-effect"><a href="/api/tasks">All tasks</a></li>
    <li class="waves-effect"><a href="/api/about">About</a></li>
</ul>


