{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}About{% endblock %}</h1>
{% endblock %}

{% block body %}
  <div class="center-align">
    <div class="card blue darken-1">
      <div class="card-content white-text">
        <h3>Welcome to Flask API</h2>
        <p>A REST API built on the Python Flask framework with MariaDB database and Vue.js front end.</p>
        <p>Access my <a class="white-text waves-effect waves-light btn-flat btn-small" href="https://gitlab.com/rhkina/vuejs_flask.git">GitLab repository</a> for more details.</p>
      </div>
    </div>
    <p><a href="/api/tasks">Back to ToDo List</a></p>
  </div>
{% endblock %}