{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Tasks{% endblock %}</h1>
{% endblock %}

{% block body %}
    <div class="center-align">
        <h3>ToDo List</h2>
    </div>
    <table class="stripped">
        <thead>
            <th>Id</th>
            <th>Task</th>
            <th>Comment</th>
            <th>Update</th>
            <th>Delete</th>
        </thead>
        {% for row in rows %}
        <tr>            
            <form action="/api/update" method="POST">
                <td>{{ row[0] }}</td>
                <td><input type="text" name="title" value="{{ row[1] }}""></td>
                <td><input type="text" name="comment" value="{{ row[2] }}"></td>
                <td><input type="submit" value="update"></td>
                <td><a class="waves-effect waves-light btn modal-trigger" href="#deleteTask">delete</a></td> 
            </form>          
        </tr>
        {% endfor %}
    </table>

    <p><a class="waves-effect waves-light btn modal-trigger" href="#addTask">Add task</a></p>
    <!-- Modal addTask Structure -->
    <div id="addTask" class="modal">
        <form action="/api/update" method="POST">
            <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </form>
    </div>
    <!-- Modal deleteTask Structure -->
    <div id="deleteTask" class="modal">
        <form action="/api/task/"+row[0] method="DELETE">
            <div class="modal-content">
            <h4>Delete Task</h4>
            <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <td><input class="modal-close waves-effect waves-green btn-flat" type="submit" value="delete"></td>
        </div>
        </form>
    </div>
{% endblock %}
