% extends 'layout.html' %}

{% block body %}
    <form action="/action" method="POST">
        <p>Name: <input type="text" name="name"/></p>
        <p>Role: <input type="text" name="role"/></p>
        <p><input type="submit" value="Submit"/></p>
        <p><a href="/display">Show list</a></p>
        <p><a href="/update">Update</a></p>
    </form>
{% endblock %}