<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen, projection">
    <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Flask API</title>
</head>
<body>
<!--    <div class="navbar-fixed"> -->
<!--        <nav class="light-blue accent-4" style="padding:0px 10px;"> -->
        <nav class="light-blue accent-4">
            <div class="container nav-wrapper">
                <a href="#" class="brand-logo"><img src="/static/img/logo.png" height="56" style="padding-top: 7px; padding-left: 7px;"/></a>
                <a href="#" class="sidenav-trigger" data-target="mobile-links">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/api/tasks">Tasks</a></li>
                    <li><a href="/api/about">About</a></li>
                    <li><a href="/api/login">Login</a></li>
                </ul>
            </div>
        </nav>
<!--        </nav> -->
<!--    </div> -->

    <ul class="sidenav" id="mobile-links">
        <li><a href="/api/tasks">Tasks</a></li>
        <li><a href="/api/about">About</a></li>
        <li><a href="/api/login">Login</a></li>
    </ul>

    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="/static/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav()
        })
    </script>
    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });
  </script>

</body>
</html>