<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>output: {{ msg }}</p>
    <p><a href="/">Home</a></p>
    <p><a href="/tasks">Show all tasks</a></p>
    <p><a href="/update">Update</a></p>
</body>
</html>