<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <td>Id</td>
        <td>Title</td>
        <td>Comment</td>
        <td>Update</td>
            {% for row in rows %}
            <tr>
                <form action="/testupdate" method="POST">
                    <td>{{ row[0] }}</td>
                    <td><input type="text" name="title" value={{ row[1] }}></td>
                    <td><input type="text" name="comment" value={{ row[2] }}></td>
                    <td><input type="submit" value="update"></td>
                </form>
            </tr>
            {% endfor %}
    </table>
</body>
</html>